<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>

         <mapping class="biz.bagira.auction.entity.User"/>
         <mapping class="biz.bagira.auction.entity.Address"/>
         <mapping class="biz.bagira.auction.entity.Bid"/>
         <mapping class="biz.bagira.auction.entity.Category"/>
         <mapping class="biz.bagira.auction.entity.Item"/>
    </session-factory>
</hibernate-configuration>